openapi: 3.0.3
info:
  title: Packlink PRO Shipping Clients Customs API
  version: v1
  description: The Packlink PRO Shipping API lets e-commerce merchants and integrations compare carrier services, create shipments, print labels, track parcels, manage warehouses, and handle customs paperwork across Packlink's multi-carrier shipping network. This description is DERIVED from the endpoint surface used by Packlink's own open-source e-commerce integration modules (ecommerce_module_core Proxy). Request and response schemas are intentionally left minimal to avoid fabricating fields not confirmed from a published specification.
  contact:
    name: Packlink PRO Support
    url: https://support.packlink.com/hc/en-gb
  x-logo:
    url: http://www.packlink.com
servers:
- url: https://api.packlink.com
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: Customs
  description: Customs invoices and customs-union lookups.
paths:
  /v1/customs-invoices:
    post:
      operationId: createCustomsInvoice
      tags:
      - Customs
      summary: Create a customs invoice
      responses:
        '200':
          description: Created customs invoice
        '401':
          description: Unauthorized
  /v1/customs-invoices/{id}/download:
    get:
      operationId: downloadCustomsInvoice
      tags:
      - Customs
      summary: Download a customs invoice
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Customs invoice document
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /v1/customs-unions/search-by-postal-code:
    post:
      operationId: searchCustomsUnions
      tags:
      - Customs
      summary: Search customs unions by postal code
      responses:
        '200':
          description: Customs union matches
        '401':
          description: Unauthorized
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Packlink PRO API key passed in the Authorization header. Obtain the key from the Packlink PRO dashboard under Settings > Packlink PRO API.
x-generated: '2026-07-20'
x-method: derived
x-source: https://github.com/packlink-dev/ecommerce_module_core/blob/master/src/BusinessLogic/Http/Proxy.php
