openapi: 3.2.0
info:
  title: Packlink PRO Shipping Clients Integrations API
  version: v1
  description: The Packlink PRO Shipping API lets e-commerce merchants and integrations compare carrier services, create shipments, print labels, track parcels, manage warehouses, and handle customs paperwork across Packlink's multi-carrier shipping network. This description is DERIVED from the endpoint surface used by Packlink's own open-source e-commerce integration modules (ecommerce_module_core Proxy). Request and response schemas are intentionally left minimal to avoid fabricating fields not confirmed from a published specification.
  contact:
    name: Packlink PRO Support
    url: https://support.packlink.com/hc/en-gb
  x-logo:
    url: http://www.packlink.com
servers:
- url: https://api.packlink.com
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: Integrations
  description: Register and manage platform integrations.
paths:
  /v1/integrations:
    post:
      operationId: registerIntegration
      tags:
      - Integrations
      summary: Register an integration
      responses:
        '200':
          description: Integration registered
        '401':
          description: Unauthorized
  /v1/integrations/{integrationId}:
    delete:
      operationId: disconnectIntegration
      tags:
      - Integrations
      summary: Disconnect an integration
      parameters:
      - name: integrationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Integration disconnected
        '401':
          description: Unauthorized
        '404':
          description: Not found
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Packlink PRO API key passed in the Authorization header. Obtain the key from the Packlink PRO dashboard under Settings > Packlink PRO API.
x-generated: '2026-07-20'
x-method: derived
x-source: https://github.com/packlink-dev/ecommerce_module_core/blob/master/src/BusinessLogic/Http/Proxy.php
